# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv/
venv/
ENV/

# MyPy & Ruff
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/

# IDEs
.vscode/
.idea/

# DATA (Cartella centralizzata)
# Ignoriamo tutto il contenuto di data perché contiene file generati o sensibili (Excel con password)
data/
# Ma permettiamo di tracciare i file .gitkeep se vuoi preservare la struttura delle cartelle vuote
!data/**/.gitkeep

# Vecchi percorsi (per sicurezza)
*.log
report_pdf/
stato_processo_pdl.json
test.db
CRITICAL_EXECUTION_ERROR.txt

# OS
.DS_Store
Thumbs.db
